form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  resize: none;
  background-color: #0f1227e1;
  color: white;
}

@media only screen and (max-width: 650px) {
  input,
  textarea {
    padding: 0.5rem;
  }
}

/* For Chrome autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text;
  background-color: transparent !important;
  background-clip: text;
}
.contact-option {
  background-color: #0f1227e1;

  &:hover {
    transform: scale(1.01);
  }
}
