.icon:hover {
  transform: scale(1.1);
}

.profile-pic-border {
  border-radius: 50%;
  box-shadow: 0 1px 0px 0px white;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
}

.header-footer {
  transform: translateY(1px);
}
