.project-item {
  border-radius: 3rem 3rem 3rem 0;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}

.project-item:hover {
  border-color: white;
  transform: scale(1.02);
  background: transparent;
  color: white;
}
.project-img {
  position: relative;
}

.project-img img.gif {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-img:hover img.gif {
  border-radius: 1rem;
  transform: scale(1.2);
  opacity: 1;
}
